<div class="sidebar">
    <div class="logo">
        🍽️ NutriVision
    </div>

    <nav>
        <a href="/">Dashboard</a>

        <a href="/recipes">Recipes</a>

        <a href="/ingredients">Ingredients</a>

        <a href="/mealplanner">Meal Planner</a>

        <a href="/analytics">Analytics</a>
    </nav>
</div>